* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
}

body {
  background-color: #121616;
}

/* Navbar Styling */

.brand-title {
  font-size: 1.5625rem;
  margin: 24px 0 0 20px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal; 
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-links {
  display: flex;
  margin: 24px 20px 0 0;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  position: relative;
  text-decoration: none;
  margin: 0 20px 0 0;
  display: block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.25rem;
}

.navbar-links li a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 4.5px;
  background-color: #00FF00;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-out;
}

.navbar-links li a:hover::after {
  transform: scaleX(1);
}

.toggle-button {
  position: absolute;
  top: 12px;
  right: 16px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 2px;
  width: 100%;
  background-color: white;
}

/* Main Content Styling */

/* Hero Section Styling */

.home-section {
  margin: 300px 0 420px 0;
  text-align: center;
}

.name {
  color: #00ff00;
  font-size: 3.75rem;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
}

.heading {
  color: white;
  font-size: 4.375rem;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* About Section Styling */

.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  max-width: 15%;
  height: auto;
  border-radius: 10%;
  margin: 0 35px 0 0;
  border: solid lime 5px;
}

.text {
  text-align: start;
  width: 60%;
  font-size: 1.5625rem;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.about_me-1 {
  margin: 0 0 15px 0;
}

/* Skills Section Styling */

.skill-image {
  margin: 300px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.html-img, .css-img, .js-img, .react-img {
  width: 8%;
  height: auto;
  margin: 0 10px;
}

/* Project Section Styling */

.project-section {
  margin: 0 0 300px 0;
}

.project-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.project_img {
  max-width: 20%;
  margin: 0 30px 0 250px;
}

.project-details {
  display: flex;
  flex-direction: column;
}

.to-do_header {
  line-height: 41px;
  font-size: 2.5rem;
  margin: 0;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.separator {
  width: 10%;
  border: none;
  border-top: 1px solid #FFFFFF;
  margin: 5px 0 0 0;
}

.about_to-do {
  margin: 25px 0 10px 0;
  font-size: 1.25rem;
  width: 75%;
  line-height: 30px;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.html-project, .css-project, .js-project {
  width: 6%;
  margin: 5px 0 0 0;
}

.todo-project-links {
  display: flex;
  flex-direction: column;
  margin: 20px 0 0 10px;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5625rem;
}

.todo-project-links a {
  text-decoration: none;
  color: inherit;
  margin: 0 0 20px 0;
}

.project-links a:hover {
  color: #00FF00;
}

.to-do_demo:hover {
  color: #00FF00;
}

.to-do_github:hover {
  color: #00FF00;
}

/* Contact Section Styling */

.contact-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.contact-inputs {
  width: 500px;
  height: 40px;
  padding-left: 8px;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  color: #000000;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.contact-message {
  resize: none;
  height: 200px;
  width: 500px;
  border-radius: 10px;
  padding: 8px;
  text-align: left;
  font-size: 1rem;
  color: #000000;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.contact_form-button {
  width: 500px;
  height: 35px;
  font-size: 1rem;
  background-color: #00FF00;
  border: none;
  border-radius: 10px;
  color: #000000;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.contact_form-button:hover {
  background-color: #03a503;
  border: none;
}

/* Footer Styling */

.footer-container {
  width: 100%;
  padding: 10px 0 30px 0;
  margin: 60px 0 0 0;
  background-color: #1f2525;
}

.socialIcons {
  display: flex;
  justify-content: center;
}

.socialIcons a {
  text-decoration: none;
  margin: 10px 15px 0 0;
  padding: 5px;
}

.socialIcons a i {
  font-size: 35px;
  opacity: 0.9;
  background-color: #3b4747;
  padding: 15px;
  border-radius: 50%;
}

.socialIcons i:hover {
  color: #00FF00;
}

.footerNav {
  margin: 15px 0 0 0;
}

.footerNav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.footerNav ul li a {
  margin: 0 20px 0 0;
  text-decoration: none;
  font-size: 1.25rem;
}

.footerNav a:hover {
  color: #00FF00;
}

/* Mobile Styling */

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    background-color: #3b4747;
  }

  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar-links.active {
    display: flex;
    flex-direction: column;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links li {
    text-align: center;
  }

  .navbar-links li a {
    margin: 16px 0;
  }

  .brand-title {
    font-size: 25px;
    margin: 10px 0 10px 10px;
  }

  .home-section {
    margin: 200px 0 220px 0;
  }

  .name {
    font-size: 35px;
  }

  .heading {
    font-size: 40px;
  }

  .image {
    max-width: 25%;
  }

  .text {
    width: 70%;
    font-size: 20px;
  }

  .project-container {
    flex-direction: column;
  }

  .project_img {
    max-width: 80%;
    margin: 50px 0 50px 0;
  }

  .project-details {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .to-do_header {
    text-align: center;
  }

  .separator {
    width: 80%;
  }

  .about_to-do {
    text-align: center;
    width: 90%;
  }

  .contact-container {
    flex-direction: column;
  }

  .contact-form {
    align-items: center;
  }

  .contact-inputs {
    width: 90%;
  }

  .contact-message {
    width: 90%;
  }

  .contact_form-button {
    width: 90%;
  }
}